spring:
    graphql:
        graphiql:
            enabled: true
        websocket:
            path: /graphql
    data:
        mongodb:
            uri: ${MONGODB_URI}
server:
  http2:
    enabled: true